 
   <!-- Barra de Navegación --> 
   
      <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="index.html">
                        <img src="/assets/images/logomoksa-96x83.png" alt="Mobirise Website Builder" style="height: 3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-success display-7" href="/">Moksa Stock</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"> <!-- MENU -->
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-success display-4" href="/logout" th:if="${session.usuariosession != null}">Cerrar Sesión</a></li>
                    <li class="nav-item"><a class="nav-link link text-success display-4" href="/logueo" th:if="${session.usuariosession == null}">Iniciar Sesión</a></li>
                    <li class="nav-item"><a class="nav-link link text-success display-4" href="/registro" th:if="${session.usuariosession == null}">Registrarse</a>
                    </li></ul>
                
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-danger display-4" href="/prendas" th:if="${session.usuariosession != null}">Cargar Prendas</a></div>
            </div>
        </div>
    </nav>